@use "./scss_modules/layout.scss";
@use "./scss_modules/button.scss";

header {
  background-color: #eee;
  border-bottom: 1px solid #999;
  h1 {
    max-width: 1200px;
    margin: 0 auto;
  }
}

nav {
  background-color: #eee;
  border-bottom: 1px solid #999;
  ul {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    border: 1px solid #999;
    border-top: none;
    border-bottom: none;
    li {
      width: 25%;
      text-align: center;
      border-right: 1px solid #999;
      &:last-child {
        border-right: none;
      }
      a {
        display: block;
        padding: 10px;
        color: #000;
        transition: background-color 0.5s, color 0.5s;
        &:hover {
          background: #999;
          color: #fff;
        }
      }
    }
  }
}

main {
  overflow: hidden;
  .sec2 {
    text-align: center;
    &__title {
      span {
        &::before {
          content: "作業実績";
        }
      }
    }
    &__works {
      &-item {
        width: 30%;
        display: block;
        margin-bottom: 30px;
        img {
          width: 100%;
        }
        p {
          margin-bottom: 10px;
        }
        &__button {
          position: relative;
          display: block;
          font-size: 18px;
          border: 1px solid #999;
          padding: 5px 0;
          color: #000;
          font-weight: #999;
          transition: background-color 0.5s, color 0.5s;
          &:hover {
            background-color: #999;
            color: #fff;
          }
          &::before {
            content: "";
            display: block;
            width: 10px;
            height: 10px;
            box-sizing: border-box;
            border-top: 5px solid transparent;
            border-bottom: 5px solid red;
            border-left: 5px solid transparent;
            border-right: 5px solid red;
            position: absolute;
            right: 3px;
            bottom: 3px;
          }
        }
      }
    }
  }
  .sec3 {
    text-align: center;
    &__title {
      span {
        &::before {
          content: "事業内容";
        }
      }
    }
    &__works {
      &-item {
        width: 30%;
        display: block;
        margin-bottom: 30px;
        img {
          width: 100%;
        }
        p {
          margin-bottom: 10px;
        }
      }
    }
  }
  .sec4 {
    &__content-box {
      display: flex;
      justify-content: space-between;
      position: relative;
      &.content-box1 {
        margin-bottom: 50px;
      }
      &.content-box2 {
        flex-direction: row-reverse;
        .sec4__content {
          &-text-box {
            position: relative;
            box-sizing: border-box;
            padding-left: 50px;
          }
          &-text {
            margin-top: 30px;
          }
        }
      }
    }
    &__content-image {
      width: 48%;
      img {
        width: 100%;
      }
    }
    &__content {
      &-text-box {
        padding-top: 50px;
        position: relative;
        width: 48%;
      }
      &-title {
        font-size: 30px;
      }
      &-list {
        padding-top: 10px;
        font-weight: bold;
      }
      &-item {
        padding-top: 5px;
      }
      &-button {
        display: block;
        position: absolute;
        bottom: 1%;
        left: 0;
        font-size: 18px;
        padding: 5px 20px;
      }
    }
  }
  .sec5 {
    text-align: center;
    &__title {
      span {
        &::before {
          content: "おしらせ";
        }
      }
    }
    &__news-list {
      margin: 0 auto;
      &__item {
        margin-top: 10px;
        font-size: 18px;
      }
    }
  }
  .sec6 {
    background-color: #999;
    text-align: center;
    color: #fff;
    margin-top: 100px;
    padding: 50px 0;
    &__title {
      font-size: 30px;
    }
    &__list {
      text-align: left;
      list-style: circle;
      width: 500px;
      margin: 20px auto 0;
      font-size: 20px;
    }
    &__contact {
      &-box {
        margin-top: 40px;
        display: flex;
        justify-content: space-around;
      }
      &__tel {
        width: 40%;
        padding: 10px 0 10px;
        border: 1px dotted #fff;
      }
      &__form {
        padding: 10px 0 10px;
        width: 40%;
        border: 1px dotted #fff;
      }
    }
  }
}
.footer {
  padding: 20px 0;
  overflow: hidden;
  &__inner {
    width: 1200px;
    margin: 0 auto;
  }
  &__wrap {
    display: flex;
    align-items: center;
  }
  &__logo {
    margin-right: 2%;
    width: 100px;
    height: 100px;
    display: grid;
    color: #fff;
    place-items: center;
    background-color: #999;
  }
  &__address {
    &__place {
      font-size: 18px;
      font-weight: bold;
    }
    &__tel {
      font-size: 20px;
      font-weight: bold;
    }
  }
  &__copyright {
    color: #fff;
    background-color: #999;
    margin-top: 20px;
    padding-left: 10px;
  }
}
